/**
 * @Author: dragon
 * @Date: 2019-06-16 20:14:07
 * @Desc: theme style declaration
 */
// body
$znlh-body-bg: #e4e5e6;

// header
$znlh-navbar-bg: #2b3643;
$znlh-navbar-menu-active: #3f4f62;

// header-test
$znlh-navbar-bg-test: #8e2b2b;
$znlh-navbar-menu-active-test: #ab4242;

// sidebar
$znlh-sidebar-nav-bg: #37414f;
$znlh-sidebar-nav-menu-color: #b4bcc8;
$znlh-sidebar-nav-menu-active-bg: #3e4b5c;
$znlh-sidebar-nav-menu-hover-bg: #3e4b5c;
$znlh-sidebar-nav-menu-border: #3d4957;
$znlh-sidebar-nav-submenu-open-bg: #2C3542;
$znlh-sidebar-nav-submenu-active-bg: #409eff;

// card head
$znlh-card-head-color: #409eff;
$znlh-card-head-border: #cecece;

// btn
$znlh-btn-primary-bg: #409eff;
$znlh-btn-primary-hover-bg: #409eff;
$znlh-btn-default-bg: #E5E5E5;
$znlh-btn-default-hover-bg: lightgray;
